QtProject.conf
coc/
SEGGER/
dconf/
flameshot/
jxbrowser/
kicad/
libreoffice/
resilio-sync/
rslsync/
systemd/
GIMP/
msmtp/
mutt/
gtk-2.0/
BraveSoftware/
FreeCAD/
cef_user_data/
discord/
inkscape/
memos.json
mimeapps.list
pulse/
ranger/__pycache__/
remmina/
spotify-tui/
spotify/
wyebadblock/
xsettingsd/
fish/functions/
fontforge/
ranger/plugins/__pycache__/
qtile/__pycache__/
qtile/*.jpg
qtile/*.jpg_
vimb/
qalculate/
Electron/
vlc/
Microchip\ Offline\ Help\ Content/
autostart/
zoom.conf
zoomus.conf
bless/
xnviewmp/
blender/
sqlitebrowser/
nvim_/
